* {
  margin: 0;
  box-sizing: content-box;
}

.jumbo {
  padding: 20px;
}

#header {
  text-align: center;
  padding-top: 100px;
}

.flip {
  padding-top: 150px;
}

.class-title {
  z-index: 1;
  color: black;
}

.card {
  height: 400px;
}
